In [1]:
import pandas as pnd

In [2]:
import os

In [3]:
years = [1702, 1952, 1962]
ntop = 3 
path_name = 'names'

In [4]:
DATA_PATH = os.path.join(os.getcwd(),path_name)

In [5]:
DATA_PATH

'C:\\Users\\irina\\ex4-1\\names'

In [7]:
data_pathes = []
data_years = []
for year in years:
    str_year = "yob" + str(year)+ ".txt"
    path_test = os.path.join(DATA_PATH, str_year)
    if os.path.exists(path_test) and os.path.isfile(path_test):
        data_pathes.append(path_test)
        data_years.append(year)

In [8]:
data_for_analytics = []
for dp in data_pathes:
    data_for_analytics.append(pnd.read_csv(dp, names = ['Name', 'Gender', 'Count']))

In [9]:
len(data_for_analytics)

0

In [10]:
data_by_all_years = pnd.concat(data_for_analytics)

ValueError: No objects to concatenate

In [11]:
data_by_all_years.nlargest(ntop, 'Count')

NameError: name 'data_by_all_years' is not defined

In [24]:
for data_elem_analytics, year_elem in zip(data_for_analytics, data_years):
    len_df = len(data_elem_analytics)
    year_series = pnd.Series((year_elem) for i in range(len_df))
    data_elem_analytics['Year'] = year_series

In [28]:
data_by_all_years_with_years = pnd.concat(data_for_analytics).drop('Name',axis=1)

In [29]:
grouped_data = data_by_all_years_with_years.groupby(['Year', 'Gender'])

In [30]:
grouped_data.count()

             Count
Year Gender
1952 F        6391
     M        4257
1962 F        7583
     M        4623